@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.body__background {
    min-height: 100vh;
    padding: 120px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-65deg, #8995de 0%, #abb3e7 25%, #ccd1f1 51%, #6877d5 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
            animation: AnimateBG 10s ease infinite;
}

  
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 200px;
}

.hero {
    width: 100%;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #535faa;
    border-radius: 20px;
    padding: 2.5rem;
    text-align: left;
    width: 100%;
    min-width: 250px;
}

.form__title {
    color: #e9eaf0;
    font-size: 85px;
    white-space: nowrap;
    font-weight: 700;
    margin: 0;
}

.form__title_mobile {
    display: none;
}

.form__subtitle {
    color: #e9eaf0;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 2.5rem;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputs__left, .inputs__right {
    width: 48%;
}

.form__label {
    position: relative;
    display: block;
    color: #d4d5e2;
}

.form__input {
    font-size: 20px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #e5e5e7;
    background-color: #2a3055;
}

.form__label:not(:last-child) {
    margin-bottom: 40px;
}

.form__input:focus {
    outline: 1px solid transparent;
    border: 1px solid transparent;
}

.form__input:focus + .form__span,
.form__span.active {
    transform: translate(-15%, -2.6rem) scale(.68);
    color: #e9eaf0;
}

.form__span_desktop::after {
    content: 'Издержки хранения единицы товара';
}

.form__button {
    font-size: 30px;
    font-weight: 600;
    background-color: #7e84e3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s ease, transform .2s ease;
    width: 100%;
}

.form__button:hover {
    background-color: #7075c9;
}

.form__button:active {
    transform: scale(0.99);
}

.form__span {
    position: absolute;
    width: 100%;
    top: calc(100% / 3.4);
    left: .9rem;
    transition: transform .3s ease;
}

.chart__title {
    color: #e9eaf0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.chart {
    display: none;
    margin-top: 120px;
    width: 100%;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 95%;
    padding-bottom: 40px;
}

.chart__bg {
    padding: 40px 20px;
    background-color: #535faa;
    border-radius: 20px;
}

.chart.active {
    display: block;
}

.chart__descr {
    width: 100%;
    padding: 0 40px;
}

.chart__list {
    list-style: none;
    color: #e9eaf0;
    margin: 0;
}

.chart__list li {
    padding: 10px 0px;
}

@media (max-width: 1380px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1150px) {
    .form__title {
        font-size: 60px;
    }

    .inputs {
        flex-direction: column;
    }

    .inputs__left,
    .inputs__right {
        width: 100%;
    }

    .form__label {
        margin-bottom: 40px;
    }
}

@media (max-width: 775px) {
    .body__background {
        padding: 60px 0;
    }

    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .chart-container {
        display: none;
    }

    .chart {
        margin-top: 60px;
    }
}

@media (max-width: 700px) {
    .body__background {
        padding: 40px 0;
    }

    .body {
        font-size: 18px;
    }

    .form {
        padding: 20px;
    }

    .form__title {
        font-size: 45px;
    }

    .form__subtitle {
        margin-bottom: 35px;
        font-size: 20px;
    }

    .form__label:not(:last-child) {
        margin-bottom: 30px;
    }

    .form__label {
        margin-bottom: 30px;
    } 

    .form__span {
        font-size: 16px;
        top: calc(100% / 3)
    }

    .form__input:focus + .form__span,
    .form__span.active {
        transform: translate(-15%, -2.4rem) scale(.68);
        color: #e9eaf0;
    }

    .chart {
        margin-top: 50px;
    }
}

@media (max-width: 426px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form {
        padding: 15px;
    }

    .form__title_desktop {
        display: none;
    }

    .form__title_mobile {
        display: block;
    }

    .form__title {
        font-size: 50px;
        white-space: wrap;
    }

    .form__span {
        font-size: 14px;
        top: calc(100% / 2.8)
    }

    .form__span_desktop::after {
        content: 'Издержки хранения ед/т';
    }

    .form__input:focus + .form__span,
    .form__span.active {
        transform: translate(-15%, -2.3rem) scale(.68);
        color: #e9eaf0;
    }
    
    .chart {
        margin-top: 40px;
    }

    .chart__bg {
        padding: 20px 15px;
    }

    .chart__title {
        margin-bottom: 15px;
        font-size: 27px;
    }

    .chart__descr {
        padding: 0;
    }
}