@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.body__background {
    min-height: 100vh;
}

.form__section {
    padding-top: 120px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #3f4480;
    border-radius: 20px;
    padding: 2.5rem;
    text-align: left;
    width: 70vw;
    min-width: 250px;
}

.form__title {
    color: #e9eaf0;
    font-size: 5vw;
    white-space: nowrap;
    font-weight: 700;
  }
  
  .form__subtitle {
    color: #e9eaf0;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 2.5rem;
  }

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputs__left, .inputs__right {
    width: 48%;
}

.form__label {
    position: relative;
    display: block;
    color: #d4d5e2;
}

.form__input {
    font-size: 20px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #e5e5e7;
    background-color: #2f3042;
}

.form__label:not(:last-child) {
    margin-bottom: 40px;
}

.form__input:focus {
    outline: 1px solid transparent;
    border: 1px solid transparent;
}

.form__input:focus + .form__span,
.form__span.active {
    transform: translate(-15%, -2.6rem) scale(.68);
    color: #e9eaf0;
}

.form__button {
    font-size: 30px;
    font-weight: 600;
    background-color: #7e84e3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
}

.form__button:hover {
    background-color: #7075c9;
}

.form__button:active {
    background-color: #6266b0;
}

.form__span {
    position: absolute;
    width: 100%;
    top: calc(100% / 3.4);
    left: .9rem;
    transition: transform .3s ease;
}